$padding-column: 40px;

$mobile-breakpoint: 768px;
$mobile-padding-sides: 12px;
$mobile-padding-column: 30px;

$color-blue: #3498db;
$color-dark-blue: #2980b9;
$color-white: rgb(252, 252, 252);
$color-black: rgb(22, 22, 22);
