@import './reset.scss';
@import './mixins';
@import './variables';

* {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  font-weight: 300;
  color: $color-black;
  box-sizing: border-box;
}

body {
  cursor: default;
  word-break: keep-all;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 25px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-dark-blue;
  }
}

strong {
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  margin-top: $padding-column;
  max-width: 700px;
}

@include mobile {
  h1 {
    font-size: 34px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
  }

  section {
    @include mobile-padding-sides;
    margin-top: $mobile-padding-column;
  }
}
